<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vivek.felight.com.rssreaderapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:icon="@drawable/logofinal"
        android:label="Vivek's News" >
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name=".AndroidRSSReaderApplicationActivity"
            android:label="Vivek's News" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add New Site Activity -->
        <activity android:name=".AddNewSiteActivity" />

        <!-- List rss items Activity -->
        <activity android:name=".ListRSSItemsActivity"
            android:configChanges="keyboardHidden|orientation"/>

        <!-- Display webpage Activity -->
        <activity android:name=".DisPlayWebPageActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation" />
    </application>




</manifest>